@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Kanit, sans-serif;
}

body {
    background-image: linear-gradient(
        90deg,
        rgba(130, 117, 255, 1) 0%,
        rgba(107, 4, 253, 1) 35%,
        rgba(44, 0, 118, 1) 100%
    );
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background: linear-gradient(
        90deg,
        rgba(130, 117, 255, 1) 0%,
        rgba(107, 4, 253, 1) 35%,
        rgba(44, 0, 118, 1) 100%
    );
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #d9ceff, #7916ff) 1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.card-cel-text {
    text-align: justify;
}

.nav-link {
    color: #f3f1ff;
    font-weight: 600 !important;
}

.nav-link:hover {
    color: #843dff;
    text-decoration: underline;
}

.login .nav-link {
    font-weight: 400 !important;
}

.login .nav-link:hover {
    color: #d9ceff;
    text-decoration: none;
}

.active {
    color: #7916ff !important;
    text-decoration: underline !important;
    background-color: #f3f1ff;
    border-radius: 10px;
}

.links {
    color: #f3f1ff;
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

.navbar-toggler {
    background-color: #701cfe !important;
    color: #7a4dfe;
}

.navbar-brand > img {
    width: 40px;
}

.carousel-item img {
    height: 340px !important;
}

.carrousel-text {
    left: 16%;
    top: 50%;
}

.carrousel-text p {
    font-size: 18px;
    font-weight: 700;
    color: #2c0076;
}
section {
    color: #f3f1ff;
}

.hero-section #button a {
    background-color: #7916ff !important;
    border: 1px solid #2c0076;
    color: #f3f1ff;
    font-weight: 500;
}

.hero-section #button a:hover {
    background-color: #2c0076 !important;
}

.featured-products .product-card {
    background-color: #2c0076;
    color: #f3f1ff;
    height: 554px;
    width: 100%;
    border-radius: 10px;
}

.product-card img {
    width: 306px;
}

.btn {
    background-color: #7916ff !important;
    border: 1px solid #2c0076;
    color: #f3f1ff;
    font-weight: 500;
}

.btn:hover {
    background-color: #2c0076 !important;
    border: 1px solid #2c0076;
}

.features-section .card {
    color: #f3f1ff;
    background-color: #2c0076;
    border: 1px solid #d9ceff;
    width: auto;
}

.features-section .card svg {
    fill: #d9ceff;
    background-color: #7916ff;
}

.testimonials .card {
    background-color: #2c0076;
    color: #f3f1ff;
    height: auto;
    width: auto;
}

.testimonials .card .blockquote-footer {
    color: #f3f1ff !important;
    margin-top: auto;
}

.about-section p {
    text-align: justify;
    line-height: 2;
    font-size: 18px;
}
.team-section .card {
    background-image: linear-gradient(
        0deg,
        rgba(107, 4, 253, 1) 0%,
        rgba(44, 0, 118, 1) 100%
    );
    color: #f3f1ff;
    border: 1px solid #d9ceff;
    border-radius: 10px;
    height: auto;
}

.stores-section .card {
    background-image: linear-gradient(
        0deg,
        rgba(107, 4, 253, 1) 0%,
        rgba(44, 0, 118, 1) 100%
    );
    color: #f3f1ff;
    border: 1px solid #d9ceff;
    border-radius: 10px;
}

footer {
    background: linear-gradient(
        90deg,
        rgba(130, 117, 255, 1) 0%,
        rgba(107, 4, 253, 1) 35%,
        rgba(44, 0, 118, 1) 100%
    );
    border-top: 3px solid transparent;
    border-image: linear-gradient(to right, #7916ff, #d9ceff) 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

textarea {
    resize: none;
}

.card-body,
.product-card {
    background-image: linear-gradient(
        0deg,
        rgba(107, 4, 253, 1) 0%,
        rgba(44, 0, 118, 1) 100%
    );
    border-radius: 10px;
}

.card-img {
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.card-img:hover {
    transform: scale(1.1);
    opacity: 0.6;
}

.mapa iframe {
    border-radius: 40px;
}

.criptos img {
    width: 935px;
    height: 236px;
}

.info-commerce img {
    width: 100px;
    height: 100px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #843dff;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.alert {
    text-wrap: nowrap;
    padding: 5px;
}
.dropdown-toggle::after {
    display: none;
}
.collapse-user .dropdown-menu {
    left: auto;
    top: auto;
    right: 1px;
}
.container-fluid .user-nav {
    display: flex;
}

.user-btn:hover {
    border: 1px solid #f3f3f3 !important;
}
.dropdown-item.active,
.dropdown-item:active {
    background-color: #f3f3f3;
}
.dropdown-menu {
    background-image: linear-gradient(
        0deg,
        rgba(107, 4, 253, 1) 0%,
        rgba(44, 0, 118, 1) 100%
    );
    color: #f3f3f3;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
}

.dropdown-menu .nav-link {
    padding: 5px;
}
.dropdown-menu .nav-link:hover {
    background-color: #f3f3f3;
    border-radius: 10px;
    text-decoration: none;
}

a .logo-salir path {
    fill: #f3f3f3 !important;
}

a:hover .logo-salir path {
    fill: #2c0076 !important;
}

.card-product {
    border-radius: 10px !important;
}
.card-product > div > img {
    border-radius: 10px !important;
}
.card-product .card-product-body h6 {
    color: rgb(0 255 137);
    font-weight: bold;
}

.card-product-body .btn {
    background-color: rgb(235 22 124) !important;
}
.card-product-body .btn:hover {
    background-color: rgba(141, 12, 74, 0.909) !important;
}

.card-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #7916ff;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 3px rgba(44, 0, 118, 0.95);
    -webkit-box-shadow: 0px 0px 12px 3px rgba(44, 0, 118, 0.95);
    -moz-box-shadow: 0px 0px 12px 3px rgba(44, 0, 118, 0.95);
}

.card-product img {
    background-color: white;
    object-fit: contain;
    height: 280px;
    width: 100%;
}

.card-product-body {
    padding: 15px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card-product p {
    flex-grow: 1;
    text-align: center;
}

.card-product-body h5,
.card-product-body p,
.card-product-body h6 {
    margin-bottom: 0.5rem;
}

.d-flex.align-items-stretch {
    display: flex;
    align-items: stretch;
}
