<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/miestilo.css">
    <!-- <style>
        p{
            font-size: 20px;
            font-weight: bold;
            color: aqua;
        }
    </style> -->
</head>
<body>
    <!-- <h1>Bienvenidos a Taller de Programación I</h1>
    
    <div style="color: blue;" class="division">
        <p class="parrafo-centrado">Hoy sólo práctico de configuración</p>
        <h2> Ejemplo de div y span </h2>
        <p>
            Esto es un párrafo dentro de un div,
            <span style="color: red;"> y esto un span dentro de un
            párrafo.</span>
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, suscipit.</p>
    </div> -->


    <!-- actividad 5 -->
    <nav class="menu">
        <div>
            <p>Logo</p>
        </div>
        <ul>
        <li><a href="https://www.google.com/">Google</a></li>
        <li><a href="https://espanol.yahoo.com/">Yahoo</a></li>
        <li><a href="https://exa.unne.edu.ar">UNNE</a></li>
        </ul></nav>
    <div class="titulo"><h1>Bienvenidos a Taller de Programación I</h1></div>
    <div class="parrafo"><p>Hoy sólo práctico de configuración</p></div>
    <footer>copyrights</footer>
</body>
</html>